body {
	margin: 0px;
	padding: 0px;
	font-family: Microsoft Yahei;
	font-size: 14px;
}

img {
	border: none;
}

p, ul, li {
	margin: 0px;
	padding: 0px;
}

.header {
	width: auto;
	height: 86px;
	background: #323B44;
	clear: both;
}

.main-header {
	width: 1200px;
	height: 86px;
	margin: 0px auto;
}

.logo {
	width: 180px;
	height: 60px;
	padding-top: 26px;
	position: relative;
	top: 0px;
	left: 0px;
}

.menu {
	width: 480px;
	height: 86px;
	position: relative;
	top: -86px;
	left: 620px;
}

.nav-right {
	width: 100px;
	height: 86px;
	position: relative;
	top: -172px;
	left: 1100px;
	line-height: 86px;
	color: #fdfdfd;
	text-align: right;
}

.defu {
	width: 110px;
	height: 86px;
	line-height: 86px;
	float: left;
	cursor: pointer;
	font-size: 16px;
}

.defu:hover, .posbox:hover, .anvh {
	background: #0488cd;
}

.defu a, .posbox a {
	display: block;
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

.defu a:hover, .posbox a:hover {
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

#menuslider {
	float: left;
	width: 110px;
	height: 86px;
	position: relative;
}

.posbox {
	position: relative;
	width: 110px;
	height: 86px;
	line-height: 86px;
	float: left;
	font-size: 16px;
}

.posiabox {
	position: absolute;
	top: 86px;
	left: 0px;
	display: none;
}

#seledbox {
	width: 110px;
}

#seledbox div {
	background: #0488cd;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
}

#seledbox a {
	color: #fdfdfd;
	text-decoration: none;
	width: 110px;
	height: 40px;
	overflow: hidden;
	display: block;
	line-height: 32px;
}

#seledbox a:hover {
	background: #2f3843;
}

.banner {
	width: 100%;
	height: 470px;
	position: absolute;
	top: 86px;
	overflow: hidden;
	z-index: -1;
}

.banner-txt {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 150px;
	line-height: 50px;
	font-size: 36px;
	text-align: center;
	z-index: 1000;
	color: #4e5b6c;
	font-family: "黑体";
}

.main_image {
	width: 100%;
	height: 470px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.main_image ul {
	width: 100%;
	height: 470px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0px;
	list-style: none;
}

.main_image li {
	float: left;
	width: 100%;
	height: 470px;
}

.main_image li span {
	display: block;
	width: 100%;
	height: 470px;
}

.main_image li a {
	display: block;
	width: 100%;
	height: 470px;
}

.main_image li .img_1 {
	background: url(../image/img_main_1.jpg) center top no-repeat;
}

.main_image li .img_2 {
	background: url(../image/img_main_2.jpg) center center no-repeat;
}

div.flicking_con {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

div.flicking_con .flicking_inner {
	position: absolute;
	top: 360px;
	left: 45%;
	z-index: 999;
	width: 300px;
	height: 21px;
}

div.flicking_con a {
	float: left;
	width: 21px;
	height: 21px;
	margin: 0;
	padding: 0;
	background: url(../image/btn_main_img.png) 0 0 no-repeat;
	display: block;
	text-indent: -1000px;
}

div.flicking_con a.on {
	background-position: 0 -21px;
}

#btn_prev, #btn_next {
	z-index: 11111;
	position: absolute;
	display: block;
	width: 73px !important;
	height: 74px !important;
	top: 50%;
	margin-top: -37px;
	display: none;
}

#btn_prev {
	background: url(../image/hover_left.png) no-repeat left top;
	left: 100px;
}

#btn_next {
	background: url(../image/hover_right.png) no-repeat right top;
	right: 100px;
}

.notice {
	width: 100%;
	height: 95px;
	background: #fafafa;
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	margin-top: 470px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	padding: 15px 0px;
}

.notice-txt {
	width: 1200px;
	line-height: 30px;
	height: 100px;
	overflow: hidden;
	margin: 0px auto;
	color: #666;
}

.serviceblock {
	margin: 0px auto;
	width: 1200px;
	padding: 0px;
	height: 640px;
}

.service-title {
	width: 1200px;
	height: 135px;
	text-align: center;
	color: #666;
}

p.stbt {
	font-size: 30px;
	padding: 50px 0px 20px 0px;
}

p a.more {
	font-size: 18px;
	color: #0488cd;
	text-decoration: none;
}

p a.more:hover {
	text-decoration: underline;
}

.service-content {
	width: 1200px;
	height: 540px;
	position: relative;
}

.scb-a {
	width: 370px;
	height: 430px;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.scb-b {
	width: 370px;
	height: 430px;
	position: absolute;
	top: 0px;
	left: 415px;
	cursor: pointer;
}

.scb-c {
	width: 370px;
	height: 430px;
	position: absolute;
	top: 0px;
	left: 830px;
	cursor: pointer;
}

.scb-info-wrap {
	width: 80px;
	height: 80px;
	background: #666 url(../image/icon1.png) center center no-repeat;
	border: 5px #cbcbcb solid;
	border-radius: 60px;
	box-shadow: 0px 0px 5px #333 inset;
	position: relative;
	top: 40px;
	left: 150px;
}

.scb-info-box {
	width: 368px;
	height: 380px;
	background: #fafafa;
	border-top: 1px #ddd solid;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
	border-bottom: 3px #0488cd solid;
	border-radius: 4px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.scb-a:hover .scb-info-wrap, .scb-b:hover .scb-info-wrap, .scb-c:hover .scb-info-wrap
	{
	background: #0488cd url(../image/icon1.png) center center no-repeat;
}

.scb-info-boxtitle {
	width: 368px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	padding-top: 50px;
}

.scb-info-boxtxt {
	width: 328px;
	height: 200px;
	padding: 10px 20px;
	line-height: 30px;
}

.scb-info-boxa {
	width: 368px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.scb-info-boxa a {
	color: #0488cd;
	text-decoration: none;
}

.footer {
	width: 100%;
	height: 320px;
	position: absolute;
	top: 1350px;
}

.footer-top {
	width: 100%;
	height: 259px;
	background: #323b44;
	border-bottom: 1px #414f5a solid;
}

.footer-bottom {
	width: 100%;
	height: 60px;
	background: #25292c;
}

.footer-top-con {
	width: 1200px;
	height: 259px;
	margin: 0px auto;
}

.ftc-block {
	width: 300px;
	height: 259px;
	float: left;
}

.ftc-bt {
	width: 300px;
	height: 30px;
	margin: 35px 0px 20px 0px;
	line-height: 30px;
	color: #fff;
	font-size: 18px;
}

ul.ftc-bc {
	width: 300px;
	height: 170px;
	list-style: none;
}

ul.ftc-bc li {
	width: 300px;
	height: 36px;
	line-height: 36px;
}

ul.ftc-bc li a {
	color: #a1a1a1;
	text-decoration: none;
}

ul.ftc-bc li a:hover {
	text-decoration: underline;
}

.footer-bottom-con {
	width: 1200px;
	height: 60px;
	margin: 0px auto;
	color: #888;
	line-height: 56px;
}

.footer-bottom-con span {
	float: right;
}

.button {
	width: 800px;
	height: 310px;
	position: relative;
	top: 50px;
	left: 200px;
}

.button01 {
	width: 310px;
	height: 310px;
	position: absolute;
	top: 0px;
	left: 35px;
	background: url(../image/buttonbg.png) no-repeat 0px 0px;
	cursor: pointer;
}

.button01:hover {
	width: 310px;
	height: 310px;
	position: absolute;
	top: 0px;
	left: 35px;
	background: url(../image/buttonbg.png) no-repeat 0px -310px;
	cursor: pointer;
}

.button02 {
	width: 310px;
	height: 310px;
	position: absolute;
	top: 0px;
	left: 455px;
	background: url(../image/buttonbg.png) no-repeat -310px 0px;
	cursor: pointer;
}

.button02:hover {
	width: 310px;
	height: 310px;
	position: absolute;
	top: 0px;
	left: 455px;
	background: url(../image/buttonbg.png) no-repeat -310px -310px;
	cursor: pointer;
}